{% extends 'base.html.twig' %}
{% block title %}
    Site de partage et d'upload
{% endblock %}


{% block body %}
    <div class="page-header" id="banner">
        <h1 class="mt-lg-5">Bienvenue sur le site</h1>
    </div>

    <div class="bs-docs-section clearfix">

            {% if app.user.username is defined %}
                <div class="uploadsForm mt-lg-4">

                {{ form_start(form) }}
                    {{ form_widget(form) }}
                    <button class="btn btn-primary">Envoyer</button>
                {{ form_end(form) }}
        </div>
        <p class="mt-lg-4 text-center"><a href="{{ path('userFiles') }}">Voir tous mes uploads</a></p>
            {% else %}
        <div class="uploadsForm mt-lg-4" >

        <p class="text-center mt-lg-4">Le service est réservé aux inscrits.</p>
                <p class="text-center mt-lg-4">Cliquez ici pour vous <a href="{{ path('register') }}">inscrire</a> ou vous <a href="{{ path('login') }}">connecter</a>.</p>
        </div>

            {% endif %}



    </div>
{% endblock %}
